<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор игровой расы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<form class="p-4 p-md-6 border rounded-3 bg-light">
    <div class="container text-center">
        <div class="row row-cols-6">
            <a class="w-10 btn btn-lg btn-primary" href="/characterNPCCreation" type="submit">Назад</a>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</form>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Выберите игровую расу</h1>

<div class="col-lg-6 mx-auto">
    <form class="p-4 p-md-3 border rounded-5 bg-light">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dwarfRace">
            Дворф
        </button>
    </form>
    <form class="p-4 p-md-3 border rounded-5 bg-light">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#humanRace">
            Человек
        </button>
    </form>
    <form class="p-4 p-md-3 border rounded-5 bg-light">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#elfRace">
            Эльф
        </button>
    </form>
    <form  method="post">

        <div class="modal fade" id="dwarfRace" tabindex="-1" aria-labelledby="dwarfRaceModal" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="dwarfRaceModal">Дворфы</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Смелые и выносливые дварфы известны как
                            опытные воины, шахтёры, камнетёсы и металлурги. Хотя они и не превышают 5
                            футов (152 сантиметра) в высоту, дварфы настолько широкоплечие и
                            плотные, что весят столько же, сколько превосходящий их в росте
                            на 2 фута (60 сантиметров) человек. Их отвага и выносливость также не
                            уступает представителям более высоких народов.
                            Кожа у дварфов бывает от тёмно-коричневой до светлой, с красным оттенком. Наиболее
                            распространённые оттенки — светло-коричневый или смуглый, как разные виды земли. Их волосы, которые они носят
                            длинными, но собранными в простые причёски,обычно чёрного, серого или коричневого цвета, но
                            у дварфов с бледной кожей часто встречаются рыжие волосы. Дварфы мужчины очень ценят свои
                            бороды и тщательно за ними ухаживают..</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="selectRace" value="dwarf">Выбрать расу Дворф</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="humanRace" tabindex="-1" aria-labelledby="humanRaceModal" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="humanRaceModal">Люди</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Со своей склонностью к миграции и завоеваниям, люди более разнообразны физически,
                            чем другие распространенные расы. Не существует типичной внешности человека.
                            Рост отдельного представителя может составлять от 5 до 6 футов (от 152 до
                            184 сантиметров), а вес — от 125 до 250 фунтов (от 60 до 112 килограмм). Оттенок кожи у людей варь-
                            ируется от почти чёрного до очень бледного, а волосы — от чёрного до светлого тонов (волнистые,
                            кудрявые или прямые); мужчины могут носить волосы на лице, густые или редкие. Многие люди
                            имеют примесь нечеловеческой крови, выдающей черты эльфа, орка, или предков другого происхож-
                            дения. Люди достигают совершеннолетия около двадцати лет, и редко проживают одно столетие.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="selectRace" value="human">Выбрать расу Человек</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="elfRace" tabindex="-1" aria-labelledby="elfRaceModal" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="elfRaceModal">Эльфы</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Обладая неземным изяществом и тонкими чертами, эльфы кажутся людям и представителям
                            других рас чересчур красивыми. В среднем, они немного ниже людей, их рост колеблется от 5 до 6
                            футов (от 150 до 185 сантиметров). Они стройнее
                            людей, и весят от 100 до 145 фунтов (от 45 до 65 килограмм). Мужчины и женщины почти
                            одинакового роста, и мужчины весят лишь незначительно больше.
                            Цвета кожи у эльфов включают в себя все человеческие оттенки, а также цвета с медным,
                            бронзовым и голубовато-белым отливом. Волосы помимо человеческих цветов могут быть
                            зелёными или синими, а глаза приобретать цвет жидкого золота или серебра. У эльфов не растут
                            волосы на лице, и почти отсутствуют волосы на теле. Они предпочитают элегантную одежду ярких
                            цветов и простые, но красивые украшения.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="selectRace" value="elf">Выбрать расу Эльф</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>