
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Разные пароли</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Вы ввели не правильные данные!</h1>
    <div class="col-lg-6 mx-auto">
        <table>
            <div class="display-7 center">
                Ошибки
            </div>
            <#list changeErrors as error>
                <div class="center">
                    ${error}
                </div>
            </#list>
        </table>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="w-100 btn btn-lg btn-primary" href="/changeUserData" type="submit">Назад к просмотру данных</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>